---
import Layout from '../layouts/Root.astro';
---

<Layout title="About">
	<main class="about-main">
        <div class="overview">
          <h1>About Me</h1>
          <div class="about-intro">
            <h1>Hello there! I'm Tadgh Purcell.</h1>
            <p>
              I am a postgraduate student studying a Higher Diploma in Computer
              Science at UCD. Before starting this course, I spent 6 months
              learning web development, where I learned a lot about programming. I
              have knowledge in JavaScript, Python, HTML, CSS, and React, and I am
              currently learning Java. I also have experience using GIT and MySQL.
              I am searching for an internship to apply my knowledge and
              contribute to a company's needs based on what I've learned.
            </p>
          </div>
        </div>
        <div class="skills">
          <h1>My Skills</h1>
          <div class="skills-list">
            <div class="skill-javascript">
              <i class="devicon-javascript-plain colored"></i>
              <span>javascript</span>
            </div>
            <div class="skill-git">
              <i class="devicon-git-plain colored"></i>
              <span>git</span>
            </div>
            <div class="skill-html">
              <i class="devicon-html5-plain colored"></i>
              <span>html</span>
            </div>
            <div class="skill-css">
              <i class="devicon-css3-plain colored"></i>
              <span>css</span>
            </div>
            <div class="skill-react">
              <i class="devicon-react-original colored"></i>
              <span>react</span>
            </div>
            <div class="skill-nodejs">
              <i class="devicon-nodejs-plain colored"></i>
              <span>nodejs</span>
            </div>
            <div class="skill-npm">
              <i class="devicon-npm-original-wordmark colored"></i>
              <span>npm</span>
            </div>
            <div class="skill-express">
              <i class="devicon-express-original"></i>
              <span>express</span>
            </div>
            <div class="skill-redux">
              <i class="devicon-redux-original colored"></i>
              <span>redux</span>
            </div>
            <div class="skill-mongodb">
              <i class="devicon-mongodb-plain colored"></i>
              <span>mongodb</span>
            </div>
            <div class="skill-webpack">
              <i class="devicon-webpack-plain colored"></i>
              <span>webpack</span>
            </div>
            <div class="skill-jest">
              <i class="devicon-jest-plain colored"></i>
              <span>jest</span>
            </div>
          </div>
        </div>
      </main>
</Layout>
