---
import Layout from '../layouts/Root.astro';
---

<Layout title="Home">
	<main class="mt-40 flex gap-24 px-60 justify-center items-center">
	<h1 class="text-center text-2xl text-gray-600">Hi, I'm Tadgh, an MSc in Computer Science student based in Dublin who loves learning and working on interesting projects.</h1>
	<img src="images/profile_pic.png" alt="Picture of Me" class="max-w-96 shadow-md">
	</main>
</Layout>
