---
import Layout from '../layouts/Root.astro';
import Intro from '../components/Intro';
import SectionDivider from '../components/SectionDivider';
import About from '../components/About';
import Projects from '../components/Projects';
import Skills from '../components/Skills';
import Experience from '../components/Experience';
import Contact from '../components/Contact';
import Footer from '../components/Footer.astro';
---

<Layout title="Tadgh Purcell | Personal Portfolio">
		<main class="flex flex-col items-center px-4">
            <Intro client:load />
            <SectionDivider client:load />
            <About client:load />
            <Projects client:load />
            <Skills client:load />
            <Experience client:load />
            <Contact client:load />
            <Footer />
		</main>
</Layout>