---
import Layout from '../layouts/Root.astro';
import Project from '../components/Project.astro';
---

<Layout title="Projects">
	<main class="flex flex-col justify-center items-center space-y-20 md:space-y-40">
	<Project 
        title="Library" 
        description="This is my Library application. Made with vanilla javascript, html and css." 
        src="/images/lib.png" 
        alt="Library project"
        link="https://github.com/TadghPurcell/library"
    />
	<Project 
        title="Library" 
        description="This is my Library application. Made with vanilla javascript, html and css." 
        src="/images/lib.png" 
        alt="Library project"
        link="https://github.com/TadghPurcell/library"
    />
	<Project 
        title="Library" 
        description="This is my Library application. Made with vanilla javascript, html and css." 
        src="/images/lib.png" 
        alt="Library project"
        link="https://github.com/TadghPurcell/library"
    />
	<Project 
        title="Library" 
        description="This is my Library application. Made with vanilla javascript, html and css." 
        src="/images/lib.png" 
        alt="Library project"
        link="https://github.com/TadghPurcell/library"
    />

	</main>
</Layout>
