<footer class="mb-10 px-4 text-center text-primary-900/75">
  <small class="mb-2 block text-xs">
    &copy; 2025 Tadgh Purcell. All rights reserved.
  </small>
  <p class="text-xs">
    <span class="font-semibold">About this website:</span> Built with
    Astro.js, React, TypeScript, Tailwind CSS,
    Framer Motion, Web3Forms, and hosted on Netlify.
  </p>
</footer>