---
import Navigation from '../components/navigation/Navigation.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/inter';
import Header from '../components/Header';

interface Props {
	title: string;
}

const { title } = Astro.props;

export const metadata = {
	title: 'Tadgh Purcell | Personal Portfolio',
	description: 'Tadgh Purcell is a masters student studying computer science',
};
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/favicon.ico" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class=`relative bg-gray-50 text-gray-950 pt-28 sm:pt-36`>
		<div class="bg-[#fbe2e3] absolute top-[-6rem] -z-10 right-[11rem] h-[31.25rem] w-[31.25rem] rounded-full blur-[10rem] sm:w-[68.75rem]"></div>
        <div class="bg-[#dbd7fb] absolute top-[-1rem] -z-10 left-[-35rem] h-[31.25rem] w-[50rem] rounded-full blur-[10rem] sm:w-[68.75rem] md:left-[-33rem] lg:left-[-28rem] xl:left-[-15rem] 2xl:left-[-5rem]"></div>
		<Header client:load />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		/* --oyb-gradients: rgba(16,185,129,.9), rgba(32,227,178,.8), rgba(12,235,235,.8) */
		--oyb-gradients: rgba(15,115,238,.9), rgba(0,172,255,.8), rgba(110,250,204,.8)
		--primary-color: rgb(15,115,238)
		--blue: rgb(10, 160, 208)
		-my-gray: rgb(167, 158, 158)
	}

	html {
		font-size: 16px;
		box-sizing: border-box;
		scroll-behavior: smooth;
		--line-color: #e5e7eb
	}
	body {
		font-family: 'Inter', sans-serif;
		margin: 0;
		padding: 0;
	}
</style>
